<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    tr:nth-child(even} {
      background-color: #D6EEEE;
    }
  </style>
</head>
  <script>
    function doSubmit() {
      let delconfirm = 'Warning!!! This will delete all selected files.\n';
      if (confirm(delconfirm) == true) {
        getDeleteSelection()
      }

      else {
        alert('you pressed no')
      }
    }
    function doCancel() {
      window.opener = self;
      window.close();
    }

    function getDeleteSelection() {
      var chk1 = 'hello';
    
      alert(`${chk1}`)
     
    }
  </script>
<body>
{% if lstDupFiles  %}
  <table>
    <tr><td>FilePath</td><td>Delete?</td></tr>
    {% for recDup in lstDupFiles %}
      <tr><td>{{ recDup}}</td><td><input type='checkbox' id='xx' name='yy' value='zz'></td</tr>
    {% endfor %}
  </table>
  <button type='button' name='cancel' onclick='doCancel()'>Cancel</button>
  <button type='button' name='submit' onclick='doSubmit()'>Submit</button>
{% else %}
  <p>No Duplicate Files Found.</p>
{% endif %}
</body>
</html>
