<!DOCTYPE html>
{% load static %}

<html>
<head>
</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#btnCancel').click(doCancel);
      $('#btnSubmit').click(doSubmit);
      $('#btnClear').click(doClear);
    });
    function doSubmit() {
      let delconfirm = 'Warning!!! This will delete all selected files.\n';
      if (confirm(delconfirm) == true) {
        getDeleteSelections()
      }

      else {
        alert('you pressed no')
      }
    }
    function doCancel() {
      window.opener = self;
      window.close();
    }

    function doClear() {
      let clearCheckBoxes = document.getElementsByName('deleteSelections')
      for (i=0; i < clearCheckBoxes.length; i++) {
        clearCheckBoxes[i].checked = false;
      }
    }

    function getDeleteSelections() {
      let delCheckBoxes =  document.getElementsByName('deleteSelections')
      let result = ""
      for (i=0; i < delCheckBoxes.length; i++) {
        if (delCheckBoxes[i].checked) {
          result += delCheckBoxes[i].value + "\n";
        }
      }
   
      alert(result);
     
    }
  </script>
<body>
 <p>
   Program returned below duplicate files. Select checkbox to delete.
 </p>
  {% if lstDupFiles  %}
    <table>
      <tr><td>FilePath</td><td>Delete?</td></tr>
      {% for recDup in lstDupFiles %}
        <tr><td>{{ recDup }}</td><td><input type='checkbox' name='deleteSelections' value='{{ recDup }}'></td</tr>
      {% endfor %}
    </table>
  </br>
  <button type='button' id='btnCancel' name='cancel'>Cancel</button>
  <button type='button' id='btnClear'  name='clear' >Clear Selection</button>
  <button type='button' id='btnSubmit' name='submit'>Submit</button>
 {% else %}
  <p>No Duplicate Files Found.</p>
 {% endif %}

</body>
</html>
