<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    tr:nth-child(even} {
      background-color: #D6EEEE;
    }
  </style>
</head>
  <script>
    function doSubmit() {
      let delconfirm = 'Warning!!! This will delete all selected files.\n';
      if (confirm(delconfirm) == true) {
        getDeleteSelections()
      }

      else {
        alert('you pressed no')
      }
    }
    function doCancel() {
      window.opener = self;
      window.close();
    }

    function getDeleteSelections() {
      let delCheckBoxes =  document.getElementsByName('deleteSelections')
      let result = ""
      for (i=0; i < delCheckBoxes.length; i++) {
        if (delCheckBoxes[i].checked) {
          result += delCheckBoxes[i].value + "\n";
        }
      }
   
      alert(result);
     
    }
  </script>
<body>
 <p>
   Program returned below duplicate files. Select checkbox to delete.
 </p>
 <form>
   {% if lstDupFiles  %}
     <table>
       <tr><td>FilePath</td><td>Delete?</td></tr>
       {% for recDup in lstDupFiles %}
         <tr><td>{{ recDup }}</td><td><input type='checkbox' name='deleteSelections' value='{{ recDup }}'></td</tr>
       {% endfor %}
     </table>
   </form>
   </br>
   <button type='button' name='cancel' onclick='doCancel()'>Cancel</button>
   <button type='button' name='submit' onclick='doSubmit()'>Submit</button>
 {% else %}
   <p>No Duplicate Files Found.</p>
 {% endif %}

</body>
</html>
